.all-products-table{
	max-width: 800px;
	.product-block{
		padding: 10px;
		border: solid #a6a6a6 1px;
		background-color: #d9d9d9;
		.product-image{
			border: solid #a6a6a6 2px;
			height: 150px;
		}
	}
}


.single-product{
	max-width: 800px;
	.product-block{
		padding: 10px;
		border: solid #a6a6a6 1px;
		background-color: #d9d9d9;
		.product-image{
			border: solid #a6a6a6 2px;
			width: 150px;
		}
	}
}

.edit-form{
	.edit-block{
		padding: 10px;
		border: solid #a6a6a6 1px;
		background-color: #d9d9d9;
		.product-image{
			border: solid #a6a6a6 1px;
			width: 150px;
		}
		.input-name{
			padding-right: 10px;
			text-align: right;
			width: 100px;
			display: inline-block;
		}
		input{
			width: 150px;
		}
	}
}

.create-form{
	.create-block{
		padding: 10px;
		border: solid #a6a6a6 1px;
		background-color: #d9d9d9;
		.input-name{
			padding-right: 10px;
			text-align: right;
			width: 100px;
			display:inline-block;

		}
		input{
			width: 150px;
		}
	}
}